# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions


on:
  push:
    branches: [ master, development ]
  pull_request:
    branches: [ master, development ]

jobs:
  test_pull_request:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.3.0
        with:
          mongodb-version: 4.0
          mongodb-replica-set: stopikowo
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: install yarn
        run: npm i -g yarn
      - name: install deps
        run: yarn
        env:
          CI: true
      - name: Testing
        run: yarn test --exit
        env:
          CI: true
          MONGO_CONNECTION: 'mongodb://localhost:27017'
          MONGO_DATABASE: 'test'
          MONGO_REPLICA_SET: stopikowo

# name: Node CI

# on:
#   push:
#     branches: [ master, development ]
#   pull_request:
#     branches: [ master, development ]

# jobs:
#   test_pull_request:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Start MongoDB
#         uses: supercharge/mongodb-github-action@1.3.0
#         with:
#           mongodb-version: 4.0
#           mongodb-replica-set: test
#       - uses: actions/checkout@v2
#       - uses: actions/setup-node@v1
#         with:
#           node-version: 10
#       - name: Installing dependencies
#         uses: borales/actions-yarn@v2.0.0
#         with:
#           cmd: install
#       # - name: Bulding Production
#       #   uses: borales/actions-yarn@v2.0.0
#       #   with:
#       #     cmd: build:prod
#       - name: Setting Enviromentals
#         uses: allenevans/set-env@v1.0.0
#         with:
#           MONGO_CONNECTION: 'mongodb://localhost:27017'
#           MONGO_DATABASE: 'test'
#       - name: Testing
#         uses: borales/actions-yarn@v2.0.0
#         with:
#           cmd: test